:root {
  --font-family: Arial, Helvetica, sans-serif;
  
  --color-prems:  #fbc72c;
  --color-prems-hover: #ffe185;
  --color-btn: #274eab;
  --color-txt: #474448;
  --color-bg: white;
  --color-footer : #031B34;
  --color-card: #2E2E2E;

  --color-bg-2: hsla(0,0%,100%,.7);
}
  
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  letter-spacing: 1px;
}
  
body{
    width: 100%;
    height: 93vh;
    background-color: #fffdfd;
    position: relative;
}

a {
  color: var(--color-txt);
  border: none;
}

i {
  color: var(--color-prems);
}

.btn {
  background-color: white;
  color: var(--color-prems);
  border: var(--color-prems) solid 1px;
}

.btn i {
  color: var(--color-prems);
}

.btn:hover {
  background-color: var(--color-prems-hover);
  border: none;
}



main {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


  /** VINCI GENIUS PAGE **/

  .vgp-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .vgp-search {
    width: 70%;
    margin: 50px 0px 25px 0px;
    padding: 15px;
    background-color: #fbc72cc2;
    color: white;
    border-radius: 20px;
    position: relative;
  }

  .vgp-search .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .vgp-search .search-container input {
    padding: 5px;
    border-radius: 20px;
    border: none;
    margin-left: 5px;
  }

  .vgp-search .search-container .filter form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .vgp-search .search-container .filter form .filterSynthese select{
    padding: 5px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
  }

  .vgp-search .search-container .filter form .filterSynthese select option {
    padding: 10px;
  }

  .vgp-search .search-container i {
    background-color: white;
    padding: 10px;
    color: #343a40;
    border-radius: 20px;
    cursor: pointer;
  }

  .vgp {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.vgp-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

  /* MODE PHONE */
  @media screen and (max-width: 700px)  {
    main {
      display: flex;
      text-align: center;
      flex-direction: column-reverse;
    }

    .home {
      display: flex;
      flex-direction: column-reverse;
    }

    .main-container-home {
      margin-top: 20px;
    }

    .home-data {
      display: flex;
    }

    .home-data .bulle-info {
      height: max-content;
      padding: 5px;
    }

    .home-container {
      width: 100%;
      height: 100%;
      background-position: center; 
    }

    .home-container .home-txt {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .home-container .home-txt .link {
      margin-bottom: 0%;
    }

    .home-container .home-txt .introTxt .bulle-info {
      width: 40%;
      height: 10%;
      position: absolute;
      right: 0;
      margin-right: 18px;
    }

    .home-container .home-txt .introTxt .bulle-info p {
      font-size: 10px;
    }


    /** VINCI GENIUS PAGE **/

    .vgp {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      object-fit: contain;
    }


    /** UPLOAD PAGE **/

    #mainSynthese {
      max-width: 100%;
    }

    #formPostSynthese {
      width: 100%;
      margin-right: 20px;
      margin-left: 20px;
    }

    #formPostSynthese .form-group {
      max-width: 100%;
    }

    .form-group select {
      -webkit-appearance: none; /* Désactive l'apparence par défaut de Safari */
      background-color: white;
      color: black;
      text-align: center;
    }
   
  }

  /* MODE TABLETTE */
  @media screen and (min-width: 700px) and (max-width: 1024px) {
    main {
      display: flex;
      text-align: center;
      flex-direction: column;
      height: 93vh;
    }

    .main-container-home {
      width: 100%;
      margin: 20px;
    }

    .home-data {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .home-data .bulle-info {
      height: max-content;
      padding: 5px;
    }


    .home-container .home-txt .introTxt .bulle-info {
      margin-top: 55px;
      width: 300px;
      height: 170px;
    }

    .home-container .home-txt .link {
      margin-bottom: 0;
    }
  }






  ::-webkit-scrollbar {
    width: 8px; /* largeur de la scrollbar */
    height: 5px;
    margin-right: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* couleur de fond de la scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    /* background-color: var(--color-prems); /* couleur de la poignée de la scrollbar */
    border-radius: 5px; /* arrondi de la poignée */
  }
