.profil-container {
    width: 100%;
    height: 93vh;
  }
  
  .profil-container .profil {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profil-container .profil .profil-top {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .profil-container .profil .profil-top .pdp {
    border-radius: 50%;
    width: 30%;
    border: #ffe185 solid;
  }
  
  .profil-container .profil .profil-top .pdp img {
    object-fit: contain;
    width: 100%;
  }
  
  .profil-container .profil .profil-top .username {
    margin-top: 15px;
  }
  
  .profil-container .profil .profil-top .username h6 {
    font-style: italic;
    color: var(--color-txt);
  }
  
  .profil-container .profil .profil-top .link-profil a{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin: 0% 2%;
    background-color: var(--color-prems);
    border-radius: 20px;
    &:hover {
      cursor: pointer;
      background-color: var(--color-btn-hover);
    }
  }
  
  .profil-container .profil .profil-top .link-profil i {
    color: white;
  }



  .profil-synthese {
    width: 100%;
  }

  .mesSyntheses-container {
    width: 85%;
  }

  .mesSyntheses-container .mesSyntheses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
  }

  .mesSyntheses-container .mesSyntheses .card-container {
    margin-left: 10px;
  }

  .card-profil {
    background-color: #fbc72c;
    border-radius: 20px;
  }
  
  .img-profil {
    background-color: white;
    border-radius: 20px;
  }